C:\Users\hediy\OneDrive\Masaüstü\YL_Dersler\GSistemlerAI\arduinoCodes\bme280
C:\Users\hediy\OneDrive\Masaüstü\YL_Dersler\GSistemlerAI\arduinoCodes\bmp180
C:\Users\hediy\OneDrive\Masaüstü\YL_Dersler\GSistemlerAI\arduinoCodes\dht11
C:\Users\hediy\OneDrive\Masaüstü\YL_Dersler\GSistemlerAI\arduinoCodes\logistic_reg
C:\Users\hediy\OneDrive\Masaüstü\YL_Dersler\GSistemlerAI\arduinoCodes\mq
C:\Users\hediy\OneDrive\Masaüstü\YL_Dersler\GSistemlerAI\arduinoCodes\mq3
C:\Users\hediy\OneDrive\Masaüstü\YL_Dersler\GSistemlerAI\arduinoCodes\mq8
C:\Users\hediy\OneDrive\Masaüstü\YL_Dersler\GSistemlerAI\arduinoCodes\sensors
C:\Users\hediy\OneDrive\Masaüstü\YL_Dersler\GSistemlerAI\project